@import url("https://fonts.googleapis.com/css2?family=open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.banner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 100px;
  background: #161616;
  transition: 0.5s;
}
.banner.night {
  background: #fff;
}
.banner::before {
  content: "";
  position: absolute;
  left: 30%;
  top: 10%;
  width: 120px;
  height: 120px;
  background: url(/assets/img/dotted.png);
  background-size: cover;
  animation: animateColor 10s linear infinite;
  transition-delay: -5s;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .Logo {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  transition: 0.5s;
}
header .Logo span {
  color: #2196f3;
}
header ul {
  display: flex;
  gap: 40px;
}
header ul li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2em;
  color: #fff;
  transition: 0.5s;
}
.content {
  position: relative;
  max-width: 700px;
  z-index: 10;
}
.content h3 {
  font-size: 2em;
  color: #fff;
  font-weight: 200;
  transition: 0.5s;
}
.content h2 {
  font-size: 5.5em;
  color: #fff;
  font-weight: 700;
  transition: 0.5s;
}
.content h2 span {
  color: #04631c;
}
.content p {
  font-size: 1.2em;
  color: #fff;
  margin: 10px 0;
  transition: 0.5s;
}
.content button {
  position: relative;
  background: #04631c;
  color: #fff;
  outline: none;
  border: none;
  padding: 15px 35px;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  margin-right: 20px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}
.content button.chat {
  background: transparent;
  color: #fff;
}
.content button.chat ion-icon {
  position: relative;
  color: #e91e63;
  font-size: 1.5em;
  top: 5px;
}
.sci {
  position: absolute;
  bottom: 30px;
  display: flex;
  gap: 20px;
}
.sci li {
  list-style: none;
}
.sci li a {
  text-decoration: none;
  font-size: 1.75em;
  color: #fff;
}
.sci li a:hover {
  color: #2196f3;
}
.dayNight {
  position: absolute;
  bottom: 25px;
  left: 93%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  background: #292323;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  font-size: 2em;
}
.banner.night .dayNight {
  background: #f0f0f0;
  color: #666;
}
.dayNight ion-icon:nth-child(2),
.banner.night .dayNight ion-icon:nth-child(1) {
  display: none;
}
.banner.night .dayNight ion-icon:nth-child(2) {
  display: block;
}
.banner.night header .Logo,
.banner.night .content h2,
.banner.night .content h3,
.banner.night .content p,
.banner.night .content button.chat,
.banner.night .sci li a,
.banner.night header ul li a {
  color: #444;
}
.banner.night .sci li a:hover {
  color: #2196f3;
}
.colors {
  position: absolute;
  right: 0;
  max-width: 600px;
  animation: animateColor 8s ease-in-out infinite;
}
@keyframes animateColor {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(50px);
  }
}
.men {
  position: absolute;
  right: 5px;
  bottom: 0;
  max-width: 50%;
  max-height:100%;
  animation: animateMen 8s ease-in-out infinite;
}
@keyframes animateMen {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-50px);
  }
}
@media (max-width: 991px) {
  .banner {
    padding: 40px;
  }
  .content {
    margin-bottom: 200px;
  }
  .content h3 {
    font-size: 1.8em;
  }
  .content h2 {
    font-size: 4em;
  }
  .content p {
    font-size: 1em;
  }
  .content button {
    font-size: 0.95em;
    margin-top: 10px;
  }
  .sci {
    bottom: 25px;
    gap: 15px;
  }
  .sci li a {
    font-size: 1.7em;
  }
  .dayNight {
    bottom: 25px;
    left: 86%;
    width: 60px;
    height: 60px;
  }  
  .colors {
    bottom: 100px;
    max-width: 400px;
  }
  .men{
    max-width: 50vh;
    right: 20px;
    bottom: 30px;
  }
}
/* @media (max-width: 420px) {
  .banner {
    padding: 20px;
  }
  .content {
    margin-bottom: 250px;
  }
  .content h3 {
    font-size: 1.2em;
  }
  .content h2 {
    font-size: 3.2em;
  }
  .content p {
    font-size: 14px;
  }
  .content button {
    font-size: 0.95em;
    margin-top: 10px;
  }
  .sci {
    bottom: 25px;
    gap: 15px;
  }
  .sci li a {
    font-size: 1.7em;
  }
  .dayNight {
    bottom: 25px;
    left: 86%;
    width: 60px;
    height: 60px;
  }  
  .colors {
    bottom: 100px;
    max-width: 380px;
  }
  .men {
    position: absolute;
    right: 5px;
    bottom: 0;
    max-width: 32vh;
  }
} */
