/*  font family */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* end font family */

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 114, 54, 255);
  transition: 0.5s;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  align-items: center;
  display: flex;
  gap: 30px;
}
header .logo {
  max-width: 100px;
  position: relative;
}
 header .lo h2 {
  color: #fff;
  font-size: 1.8em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.1em;
}
.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .textBox {
  position: relative;
  max-width: 600px;
  margin-top: 100px;
}
.content .textBox h2 {
  color: #fff;
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
}
.content .textBox h2 span {
  font-size: 1.10em;
}
.content .textBox p {
  color: #fff;
}
.content .textBox a {
  color: #fff;
  text-decoration: none;
  background: #54a751c7;
  position: relative;
  margin-top: 20px;
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.15);
}
/* .content .imgBox {
  width: 0px;
  display: flex;
  padding-right: 50px;
  margin-top: 40px;
}
.content .imgBox img {
  max-width: 170px;
} */

.content .imgBox {
  width: 600px;
  display: flex;
  padding-right: 50px;
  margin-top: 20px;
  justify-content: flex-end;
  z-index: 3;
}
.content .imgBox img {
  max-width: 200px;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: -90px;
  transform: translateX(-50%);
  display: flex;
}
.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}
.thumb li:hover {
  transform: translateY(-15px);
}
.thumb li img {
  max-width: 40px;
}
.sci {
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h3 {
  color: #fff;
  margin-top: 5%;
  margin-left: 2%;
}
#popup {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  z-index: 99;
}
#popup .close{
  width: 50px;
}

#popup .card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px 20px;
  background: #afd1ae;
  border-radius: 10px;
}
#popup .card-content h2 {
  margin-top: 10px;
  text-align: center;
  color: #111;
  font-weight: 500;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1em;
}
#popup .card-content h3 {
  font-size: 1em;
  font-weight: 400;
  text-transform: initial;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: 40px;
}
#popup img {
  position: relative;
  left: 36%;
  width: 100px;
  height: 180px;
  margin-top: 15px;
}
#popup .form {
  text-align: center;
}
#popup .form label {
  display: block;
}
#popup .form input {
  margin-top: 8px;
  border-radius: 5px;
  height: 40px;
  max-width: 90px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  text-align: center;
}
#popup .form .min,
#popup .form .plus {
  height: 40px;
  padding: 5px 15px;
  border-radius: 5px;
  color: rgba(0, 114, 54, 255);
  background: #eee;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-weight: 900;
  margin: 0;
}
#popup .form .buy {
  margin-top: 10px;
  height: 40px;
  padding: 5px 25px;
  border: none;
  border-radius: 5px;
  background: rgba(0, 114, 54, 255);
  color: #fff;
}
#popup .card-content a.close {
  position: absolute;
  text-align: center;
  padding: 5px 15px;
  border-radius: 30px;
  top: 10px;
  right: 20px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  background: #111;
  color: #fff;
}
#popup p {
  text-align: center;
  color: #111;
  margin-top: 8px;
}
a.disable {
  pointer-events: none;
  cursor: default;
}
.copy-right p{
  color: #eee;
  display: flex;
  margin-top: 500px;
}
.copy-right i{
  color: #afd1ae;
  margin-top: 6px;
}
@media (max-width: 991px) {
  section {
    padding: 40px;
  }

  .content {
    flex-direction: column;
    margin-top: 10px;
  }
  .content .textBox {
    position: relative;
    max-width: 100%;
    padding-right: 20px;
  }
  .content .textBox h2 {
    font-size: 1.2em;
  }
  .content .textBox a {
    padding: 8px 15px;
  }
  .content .imgBox {
    width: 100%;
    display: flex;
    padding-right: 0;
    margin-top: 40px;
    justify-content: center;
  }
  .content .imgBox img {
    max-width: 120px;
  }

  .content .textBox img {
    max-width: 10px;
  }
  .copy-right p{
    margin-top: 50px;
  }
  .copy-right i{
    margin-top: 6px;
  }
  .thumb {
    position: absolute;
    left: 50%;
    bottom: -100px;
  }
  .thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .thumb li img {
    max-width: 30px;
  }
  #popup .card-content {
    width: 320px;
  }
  #popup .card-content h2 {
    margin-top: 20px;
    font-size: 1.15em;
  }
  #popup .card-content h3 {
    font-size: 0.9em;
  }
  #popup img {
    left: 36%;
    width: 100px;
    height: 220px;
    margin-top: 20px;
  }
  #popup .form input {
    margin-top: 10px;
    border-radius: 5px;
    height: 40px;
    width: 90px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    text-align: center;
  }
  #popup .form button {
    margin-top: 10px;
    height: 40px;
    padding: 5px 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
  }
  #popup .card-content a.close {
    position: absolute;
    text-align: center;
    padding: 5px 15px;
    border-radius: 30px;
    top: 10px;
    right: 20px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    background: #111;
    color: #fff;
  }
  header .logo {
    max-width: 70px;
  }
   header .lo h2 {
    color: #fff;
    font-size: 1em;
  }
}
/* @media (max-width: 420px) {
  section {
    padding: 20px;
    padding-bottom: 140px;
  }
  .content {
    margin-top: 20px;
  }
  .content .textBox {
    position: relative;
    min-width: 100%;
  }
  .content .textBox h2 {
    font-size: 2.8em;
  }
  .content .textBox a {
    padding: 8px 10px;
  }
  .content .imgBox {
    width: 100%;
    display: flex;
    padding-right: 0;
    margin-top: 50px;
    justify-content: center;
  }
  .imgBox img {
    max-width: 100px;
  }
  .thumb {
    position: absolute;
    left: 50%;
    bottom: -100px;
  }
  .thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .thumb li img {
    max-width: 30px;
  }
} */
